body {
  background-color:#232323;
  margin: 0;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

h1{
  text-align: center;
  line-height: 1.1;
  font-weight: normal;
  color: white;
  background: #C0b283;
  margin: 0;
  text-transform: uppercase;
}

#colorDisplay {
  font-size: 190%;
}
#stripe {
  background: white;
  text-align: center;
  height: 30px;
}
